*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'lato';
    /* src: url(/src/fonts/Lato-Bold.ttf); */
}

body{
    font-family: Arial, Helvetica, sans-serif
}


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #341f97;
}

.welcome-text{
    width: 400px;
}
.welcome-form input,
.welcome-form button{
    display: block;
    width: 100%;
    outline: none;
}

.welcome-form input{
    margin-bottom: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.welcome-form button{
    font-size: 22px;
    background-color: white;
    padding: 15px 0;
    border: none;
    border-radius: 27px;
    color: #341f97;
    transition: 0.4s all;
}

.welcome-form button:hover{
    transform: translateY(-10px);
}
.welcome-form input:focus{
    background-color: transparent;

}

.quiz{
    display: grid;
    grid-template-rows: 60px auto;
    width: 800px;
    height: 500px;
    background-color: #fff;
    border-radius: 3px;
}

.quiz_header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.3);
    z-index: 1;
}
.quiz_body{
    background-color: #ecf0f1;
    padding:30px;
}

.quiz_user{
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.quiz_timer{
    display: flex;
    align-items: center;
    padding:0 30px;
    background-color: #341f97;
    color: #fff;
}

.option-group{
    list-style-type: none;
    margin:25px 0;
}

.option{
    background-color: #fff;
    width: 300px;
    padding:15px 20px;
    margin-bottom: 15px;
    border-radius: 100px;
    border: 2px solid transparent;

}

.option:hover{

    cursor: pointer;
    border: 2px solid #341f97;
}

.btn-next{
    background-color:#341f97;
    color: white;
    padding: 15px 35px;
    border: none;
    outline: none;
    border-radius: 27px;
    transition: 0.4s all;
}
.btn-next:focus{
    outline: none;
}
.btn-next:hover{
    cursor: pointer;
    background-color: #fff;
    color: #341f97;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
}

.active{
    background-color:#341f97;
    color: #fff !important;
}

.award_icon{
    font-size: 300px;
    color: #fff;

}
.user_name,.user_score,.user_time{
    color: #fff;
    margin-top: 15px;
    text-align: center;

}
